<!DOCTYPE html>
<html>
    <title> Ohio </title>

    <body style="background-color:#e3eaa7 ;">

        <h1 style="color: black; text-align: center; margin-top: 5%; border: 5px solid #6b5b95; border-radius: 8px;">State Bird of Ohio</h1>
        <p style="color: black; font-size: 25px; margin-top: 5%; border: 5px solid #6b5b95; border-radius: 8px;">The state of Ohio chose the Northern Cardinal (Cardinalis cardinalis) as the state bird in 1933. The medium-sized
        songbird known for its vibrant crimson red feathers moved to the state of Ohio once settlers began cutting down its once
        thick woodlands. Northern Cardinals prefer a happy medium between forested lands and open areas, so when the state’s
        dense forests thinned, the landscape suddenly appealed to the birds. ou have to root for an animal that chooses to relocate to your area. Of course, its gorgeous deep red colors did not
        hurt the bird becoming the state bird, nor did its value to humans, since it eats weed seeds and munches garden insects.
        So many cardinals moved to the state, that people trapped the birds and made them into pets. It is no wonder Ohio named
        it the state bird.</p>
        <p><img src="https://www.bing.com/images/blob?bcid=qHxOdLrWbasETpPvJRjOawyNLeZX......k" alt="ohio a bird from Cardinal" class="center" style="width:1000px; display: block;  margin-left: auto;
        margin-right: auto;" ></p>

    </body>
    <footer style="color: black; font-size: 25px; border: 5px solid #6b5b95; border-radius: 8px; text-align: center;"><p>Author: Hege Refsnes</p>
    <p><a href="mailto:hege@example.com">hege@example.com</a></p>
    </footer>

</html>